/* Admin Colleges Design */
#admin_explore {
    min-height: 100vh;
    background: #dee0e2;
    text-align: center;
    padding: 10px 20px 100px;
}

#admin_explore > p {
    font-size: 40px;
    color: #6b6b6b;
    margin: 20px auto 80px 250px;
}

#admin_explore > a {
    font-size: 20px;
    background: #ff6600;
    border-radius: 30px;
    padding: 12px 17px;
    margin-left: 250px;
}

#admin_explore > .colleges_admin {
    width: 1200px;
    margin-left: 280px;
}

#admin_explore .colleges_filters_admin {
    margin-left: 670px;
    margin-top: 30px;
    width: 400px;
    color: #000;
}

.colleges_contents_admin {
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 60px 0px 0px;
}

.colleges_contents_admin img {
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 230px;
    transition: all 0.4s ease;
    background: #000;
}

.colleges_contents_admin:hover img {
    opacity: 0.75;
}

.colleges_contents_admin p:first-of-type {
    font-size: 23px;
    margin: 20px 0px 5px;
    color: #6b6b6b;
    height: 50px;
}

.colleges_contents_admin p:nth-of-type(2) {
    font-size: 17px;
    color: #6b6b6b;
}

/* Admin Individual College Views Design */
.individual_college_admin {
    min-height: 100vh;
    padding: 20px 50px 30px;
    background: #dee0e2;
    margin-left: 250px;
}

.individual_college_admin > a {
    border-radius: 50%;
    border: 1px solid #6b6b6b;
    padding: 8px 12px 12px;
    font-size: 30px;
    color: #6b6b6b;
    transition: all 0.4s ease;
}

.individual_college_admin > a:hover {
    color: #000;
    border: 1px solid #000;
}

.individual_college_admin div {
    max-width: 800px;
    min-height: 100vh;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
}

.individual_college_admin input,
.individual_college_admin select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #9c9c9c;
    background: transparent;
    margin: 35px auto;
    display: block;
    outline: none;
    width: 450px;
    text-align: center;
    font-size: 20px;
}

.individual_college_admin button {
    border-radius: 45px;
    padding: 12px 22px;
    font-size: 18px;
    background: #ff6600;
    color: #fff;
    transition: all 0.4s ease;
    border: none;
}

.individual_college_admin button:hover {
    background: #dd5a03;
}

.individual_college_admin p {
    text-align: left;
    color: #6b6b6b;
    font-size: 25px;
}

.individual_college_admin div ul {
    margin-left: 30px;
}

.individual_college_admin div ul li {
    margin: 0px 10px 15px;
    padding: 0;
    list-style: circle;
    text-align: left;
    font-size: 18px;
    color: #6b6b6b;
}