/* Edit Footer Admin Design */
#footer_admin {
    min-height: 100vh;
    background: #dee0e2;
    text-align: center;
    padding: 10px 20px;
}

#footer_admin > p {
    font-size: 40px;
    color: #6b6b6b;
    margin: 20px auto 80px 250px;
}

#footer_admin > button {
    border-radius: 45px;
    padding: 15px 25px;
    font-size: 20px;
    background: #ff6600;
    color: #fff;
    transition: all 0.4s ease;
    border: none;
}

#footer_admin > button:hover {
    background: #dd5a03;
}

#footer_admin > div {
    text-align: left;
    margin: 0px auto 30px 250px;
}

#footer_admin .modal-content {
    margin: 60px 150px;
}

#footer_admin .modal-body button {
    margin: auto;
}

#footer_admin > div > p {
    font-size: 30px;
    color: #6b6b6b;
}

#footer_admin > div > div > p {
    font-size: 20px;
    color: #6b6b6b;
}

#footer_admin div > ul {
    margin-left: 100px;
    text-align: left;
}

#footer_admin div > ul li {
    padding: 10px; 
    border-bottom: 1px solid #8f8f8f;
    width: 500px;
}

#footer_admin div > ul li button {
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 15px;
    background: #ff6600;
    color: #fff;
    margin-right: 50px;
    transition: all 0.4s ease;
    border: none;
    display: inline-block;
}

#footer_admin div > ul li button:hover {
    background: #dd5a03;
}

#footer_admin div > ul li a {
    color: #000;
    display: inline-block;
    font-size: 18px;
}

#footer_admin div > button {
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 20px;
    background: #ff6600;
    color: #fff;
    transition: all 0.4s ease;
    border: none;
    display: block;
}

#footer_admin div > button:hover {
    background: #dd5a03;
}

#footer_admin > div:last-of-type > .image-wrap {
    margin: 0;
    display: block;
}

#footer_admin > div:last-of-type > .image-wrap > div {
    display: inline-block;
}

#footer_admin div > div > img {
    width: 350px;
    margin: 20px;
}

#footer_admin div > div > span {
    color: #fff;
    font-size: 45px;
    position: absolute;
    margin: 10px 0px 0px -50px;
    cursor: pointer;
}